.switch__button {
    margin: 10px 50px;
}

.switch__button button {
    border: none;
    background-color: transparent;
}

#mylist-btn {
    margin-left: 30px;
}

#recommended-btn {
    color: red;
    font-weight: bold;
}

.main__img {
    display: inline-block;
    justify-content: center;
    margin: 30px 50px;
    height: 200px;
    width: 200px;
    background: gray;
}

@media all and (max-width: 611px) {

    #mylist-list a,
    #recommended-list a {
        display: flex;
        justify-content: center;
        width: 100%;
    }

}